/********** default CSS **********/
@charset "utf-8";

html {
}

/* 전역 설정 */
* {
	margin: 0;
	padding: 0;
}

/* 글꼴 */
body {
	font: 75%/1.5em Tahoma, Dotum, Gulim, sans-serif;
	padding: 10px;
}

.logo {
	font-size: 40px;
	height: 30px;
	font-weight: bold;
}

.ver {
	font-size: 30px;
	font-weight: initial;
	padding-left: 4px;
}

#login_wrap {
	position: absolute;
	width: 600px;
	top: 10%;
	left: 50%;
	margin-left: -300px;
}

#login_box {
	border-top: 2px solid #007acc;
	border-bottom: 1px solid #ccc;
	padding: 30px 30px 24px 30px;
}

.login_input {
	width: 420px;
	height: 47px;
	margin: 0 0 3px 0;
	border: #555 1px solid;
	padding-left: 10px;
	color: #000;
	font-size: 24px;
}

::placeholder {
	color: #ccc;
}

.login_input:focus::-webkit-input-placeholder { color:transparent; }
.login_input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
.login_input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
.login_input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

#login_btn {
	float: right;
	width: 100px;
	height: 60px;
	margin: 0;
	padding: 40px 0 0 0;
	text-align: center;
	letter-spacing: 0.1em;
	color: #fff;
	background-color: #767676;
	cursor: pointer;
	font-size: 24px;
}

#login_copyright {
	padding-top: 2px;
	text-align: center;
	font-size: 20px;
}

/* default */
div.category {
	margin: 10px 10px 80px 10px;
}

label.title {
	font-size: 50px;
	font-weight: bold;
}

div.category div.tile {
	display: inline-block;
	width: 232px;
	height: 100px;
	margin: 8px 8px 12px 8px;
	padding: 24px 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 3px 3px 6px #888;
	text-align: right;
}

div.category div.tile label {
	font-size: 28px;
	font-weight: bold;
}

/*** 개별 html ***/


div.top {
	height: 100px;
}

div.navi_prev, div.navi_top {
	background-color: #555;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	font-size: 50px;
	height: 60px;
}

div.navi_prev {
	float: left;
}

div.navi_top {
	float: right;
}

div.navi_prev a, div.navi_top a {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding-top: 20px;
}

div.timestamp {
	padding: 10px;
	margin: 0;
	border-radius: 10px;
	font-size: 30px;
	color: #d02424;
	border: 1px solid #d02424;
	float: right;
}

div.title {
	display: block;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 40px;
}

div.sub_title a {
	padding-right: 10px;
}

img {
	border: 1px solid #ccc;
}

img.crd, img.car {
	width: 240px;
	border-radius: 4px;
}

img.not_selected
{
	filter: alpha(opacity=50);
	opacity: 0.5;
}

table.report {
	border-top: 4px solid #008d9d;
	border-bottom: 2px solid #c2c2c2;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 10px 0;
	table-layout: auto;
	width: 100%;
	font-size: 24px;
}

table.default {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 10px 0;
	table-layout: auto;
	width: 100%;
	font-size: 24px;
}

table.report tr.sub_total {
	background-color: #faf0e6;
	height: 70px;
}

table.report tr.total {
	background-color: #e6e6e6;
	border-top: 3px double #999999;
	font-weight: bold;
	height: 80px;
}

table.report th {
	background-color: #f5f5f5;
	border: 1px solid #c2c2c2;
	text-align: center;
	padding: 20px;
}

/* TD */
table.report td {
	border: 1px solid #c2c2c2;
	padding: 20px 10px;
	text-align: left;
	line-height: 30px;
}

/* 라벨 */
table.report td.lbl {
	text-align: right;
}

table.report td.lbl, table.report td.lbl_c {
	background-color: #f5f5f5;
}

table.report td.lbl_c, table.report td.data_c {
	text-align: center;

}

table.report td.money {
	text-align: right;
}

.b {
	font-weight: bold;
}

/* color */
.color_red			{ color: #ff0000; }
.color_blue			{ color: #2280D1; }
.color_darkgreen	{ color: #008000; }
.color_darkred		{ color: #c72a2c; }
.color_gray			{ color: #cccccc; }
